<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-4 footer-widget">
          <h3>Статистика</h3>

          <div class="stats">
            <div class="line">
              <span class="counter"><%= Post.published.count %></span>
              <span class="caption">Новостей</span>
            </div>
            <div class="line">
              <span class="counter">0</span>
              <span class="caption">Комментариев</span>
            </div>
            <div class="line">
              <span class="counter">0</span>
              <span class="caption">Авторов</span>
            </div>                    
          </div>
        </div>

        <div class="col-sm-4 col-md-4 footer-widget">
          <h3>Последние новости</h3>
          <div class="post-recent-widget">
            <div class="row">
              <div class="col-sm-12">
                <% last_three_posts.each do |post| %>
                  <div class="media">
                    <div class="media-body">
                      <h4 class="media-heading">
                        <%= link_to post.title, post_path(post) %>
                      </h4>
                      <p class="post-date"><%= l(post.created_at) %></p>
                    </div>
                  </div>
                <% end %>  
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-sm-4 col-md-4 footer-widget clearfix">
          <h3>Тэги</h3>
          <ul class="tags">
            <li><a href="contact.html#">OpenPGP</a></li>
            <li><a href="contact.html#">Django</a></li>
            <li><a href="contact.html#">Bitcoin</a></li>
            <li><a href="contact.html#">Security</a></li>
            <li><a href="contact.html#">GNU/Linux</a></li>
            <li><a href="contact.html#">Git</a></li>
            <li><a href="contact.html#">Homebrew</a></li>
            <li><a href="contact.html#">Debian</a></li>                            
          </ul>
        </div> -->
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <p class="pull-left">Developed by <a href="mailto: ivfefilov@gmail.com">Иван Фефилов.</a></p>
      </div>
    </div>	
  </div>
</footer>  
