<section id="hero" class="light-typo">
	<div id="cover-image" class="image-bg animated fadeIn"></div>
	<div class="container welcome-content">
		<div class="middle-text">
			<h1>ГРУППА, ДЕТСКИЙ САД "ЖУРАВЛИК"</h1>
			<h2><b>Уважаемые родители,</b> здесь вы можете посмотреть все объявления и<br>новости нашей группы </h2>
			<!-- <a class="btn smooth-scroll" href="index.html#start">Get Stated</a> -->
		</div>
	</div>
</section>
