<section id="hero" class="light-typo">
	<div id="cover-image" class="image-bg animated fadeIn"></div>
	<div class="container welcome-content">
		<div class="middle-text">
			<h1>HELLO, I AM MELISSA SING</h1>
			<h2><b>Key Lime</b> is a blog theme built with Bootstrap <br>by <b>Angelo Studio</b></h2>
			<a class="btn smooth-scroll" href="index.html#start">Get Stated</a>
		</div>
	</div>
</section>
