<section id="hero" class="light-typo">
	<div id="cover-image" class="image-bg animated fadeIn"></div>
	<div class="container welcome-content">
		<div class="middle-text">
			<%= yield :hero %>
			<!-- <a class="btn smooth-scroll" href="index.html#start">Get Stated</a> -->
		</div>
	</div>
</section>
