<div id="main-nav" class="">
	<div class="container">
		<div class="nav-header">
			<%= link_to root_path, class: 'nav-brand' do %>
        <i class="icon-lime"></i>Журавлик
      <% end %>
      <%= link_to root_path, class: 'menu-link nav-icon' do %>
        <i class="icon-menu2"></i>
      <% end %>
			<% if user_signed_in? %>
				<%= link_to "Привет, #{current_user.first_name}", edit_user_registration_path, class: "btn btn-blog outline-white pull-right" %>
    	<% else %>
				<%= link_to t('app.form.sign_in'), new_user_session_path, class: "btn btn-blog outline-white pull-right" %> 
			<% end %>
		</div>
	</div>
</div>
