<div id="main-nav" class="">
	<div class="container">
		<div class="nav-header">
			<%= link_to root_path, class: 'nav-brand' do %>
        <i class="icon-lime"></i>Журавлик
      <% end %>
      <%= link_to root_path, class: 'menu-link nav-icon' do %>
        <i class="icon-menu2"></i>
      <% end %> 
		  <a class="btn btn-blog outline-white pull-right" href="index.html#" data-toggle="modal" data-target="#loginModal">Login</a>
    </div>
	</div>
</div>
