<p>Привет <%= @resource.email %>!</p>

<p>Вы запросили ссылку для смены пароля на сайте crane15.ru.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не хотите менять пароль, проигнорируйте это сообщение.</p>
